{% extends 'base.html' %}

{% block title %}Registrar Usuario{% endblock %}

{% block content %}
    <h1>Registrar Usuario (CREATE)</h1>
    
    <form method="POST">
        {% csrf_token %}
        
        <label>Nombre:</label><br>
        <input type="text" name="nombre" required placeholder="Ej. Carlos" style="width: 100%; max-width: 300px; padding: 5px;"><br><br>
        
        <label>Edad:</label><br>
        <input type="number" name="edad" required placeholder="Ej. 20" style="width: 100%; max-width: 300px; padding: 5px;"><br><br>
        
        <button type="submit" style="padding: 5px 15px;">Guardar Usuario</button>
    </form>

    <br>
    <a href="{% url 'leer_usuarios' %}">⬅️ Volver a la lista</a>
{% endblock %}